# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/
env/
.env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/*.csv
data/raw/*.zip
!data/raw/.gitkeep

# Models
*.pt
*.pth
*.pkl
*.joblib

# Outputs
outputs/*
!outputs/metrics.json

# OS
.DS_Store
Thumbs.db
*.tmp
*.bak

# Editors
.vscode/
.idea/

# Logs
*.log

# Windows
*.tmp
*.bak
